@keyframes down-btn {
    0% { bottom:20px; }    
    100% { bottom:0px; }

    0% { opacity:0; }    
    100% { opaicty:1; }
}

@-webkit-keyframes down-btn {
    0% { bottom:20px; }    
    100% { bottom:0px; }

    0% { opacity:0; }    
    100% { opaicty:1; }
}

@-moz-keyframes down-btn {
    0% { bottom:20px; }    
    100% { bottom:0px; }

    0% { opacity:0; }    
    100% { opaicty:1; }
}

@-o-keyframes down-btn {
    0% { bottom:20px; }    
    100% { bottom:0px; }

    0% { opacity:0; }    
    100% { opaicty:1; }
}

body {
    margin:0;
}

.category-name {
    font-family: sans-serif;
    width: -webkit-fill-available;
    text-align: center;
    font-size: 40px;
}

.card-category-2 ul, .card-category-3 ul, .card-category-4 ul, .card-category-5 ul  .card-category-6 ul {
    padding: 0;
}
    
.card-category-2 ul li, .card-category-3 ul li, .card-category-4 ul li, .card-category-5 ul li, .card-category-6 ul li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}

.card-category-2 ul li, .card-category-3 ul li {
    margin: 10px 5px;
}

.card-category-1, .card-category-2, .card-category-3, .card-category-4, .card-category-5, .card-category-6 {
    font-family: sans-serif;
    margin-bottom: 45px;
    text-align: center;
}
    .card-category-1 div, .card-category-2 div {
        display:inline-block;
    }

    .card-category-1 > div, .card-category-2 > div:not(:last-child) {
        margin: 10px 5px;
        text-align: left;
    }

   
        
    /* Product & Shop Cards */
    .card-category-4 .sp-card-1 {
        background-image: linear-gradient(#f74545, #673AB7);
        height: 245px;
        width: 535px;
        text-align: left;

        -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        -o-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    }

        .card-category-4 .sp-card-1 .shop-button {
            padding-left: 20px;
        }

        .card-category-4 .sp-card-1 ul {
            padding:0;
        }

            .card-category-4 .sp-card-1 ul li {
                list-style-type: none;
                display: inline-block;                
            }

            .card-category-4 .sp-card-1 ul li:nth-child(1) {
                padding: 20px 20px;
                float: left;
            }

                .card-category-4 .sp-card-1 ul li:nth-child(1) .off-label {
                    border: 1px solid #fff;
                    background: #fff;
                    font-size: 11px;
                    padding: 7px;
                }

                .card-category-4 .sp-card-1 ul li:nth-child(1) .return-line {
                    font-size: 13px;
                    padding: 20px 0 15px 0;
                    color: #fff;
                }

                .card-category-4 .sp-card-1 .shop-button a {
                    text-decoration: none;
                    color: #fff;
                    border: 1px solid;
                    padding: 10px 15px;
                    background: #1f3c3d;

                    -webkit-transition: ease-in-out .2s;
                    -moz-transition: ease-in-out .2s;
                    -o-transition: ease-in-out .2s;
                    transition: ease-in-out .2s;
                }

                .card-category-4 .sp-card-1 .shop-button a:hover {
                    background: transparent;
                }

            .card-category-4 .sp-card-1 ul li:nth-child(2) {
                text-align: right;
                padding: 0;
                float: right;
            }

                .card-category-4 .sp-card-1 ul li:nth-child(2) img {
                    height: 170px;
                    padding: 15px 0 0;

                    -webkit-transition: all .3s ease-in;
                    -moz-transition: all .3s ease-in;
                    -o-transition: all .3s ease-in;
                    transition: all .3s ease-in;
                }

                .card-category-4 .sp-card-1 ul li:nth-child(2) img:hover {
                    -webkit-transform: scale(0.90);
                    -moz-transform: scale(0.90);
                    -o-transform: scale(0.90);
                    transform: scale(0.90);
                }

                .card-category-4 .sp-card-1 ul li:nth-child(2) .price-start {
                    text-align: center;
                    font-size: 18px;
                    color: #fff;
                    padding: 18px 0px 0px;
                }

        .card-category-4 .sp-card-1 .card-title {
            color: #fff;
            font-size: 23px;
            font-weight: 550;
        }

        .card-category-4 .sp-card-1 .sub-line {
            padding:8px 0px 15px 0px;
            color:#fff;
            font-size:20px;
        }

    .card-category-4 .sp-card-2 {
        width: 230px;
        border: 1px solid #f9f9f9;
        text-align:left;

        -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        -o-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    }

        .card-category-4 .sp-card-2 .overlap {
            background: #3f51b57a;
            width: inherit;
            height: 0;
            position: absolute;
            text-align: center;
            opacity: 0;

            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
        }

            .card-category-4 .sp-card-2:hover .overlap{
                opacity: 1;
                height: 100px;
            }

            .card-category-4 .sp-card-2 .overlap a {
                position: relative;
                top: 50%;
                text-decoration: none;
                color: #673AB7;
                padding: 10px;
                font-size: 14px;
                font-weight: 600;
                background: #fff;
            }
        
        .card-category-4 .sp-card-2 .card-image {
            text-align: center;
        }
        
            .card-category-4 .sp-card-2 .card-image img {
                height: 100px;
            }

    .card-category-4 .sp-card-2 .card-content {
        padding: 20px;
    }

        .card-category-4 .sp-card-2 .card-content .card-title {
            font-weight: 600;
        }

        .card-category-4 .sp-card-2 .card-content .price-start {
            font-weight: 600;
            color: #673AB7;
            float: right;
        }

        .card-category-4 .sp-card-2 .card-content .card-caption {
            font-size: 14px;
            color: #717171;
            padding: 15px 0px 10px;
        }

        .card-category-4 .sp-card-2 .card-content .cloth-size, .card-category-4 .sp-card-2 .card-content .cloth-colors {
            padding: 10px 0;
            font-size: 13px;
            color: #545454;
            text-transform: uppercase;
        }

        .card-category-4 .sp-card-2 .card-content .cloth-colors span:not(:nth-child(1)) {
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 40px;
        }

            .card-category-4 .sp-card-2 .card-content .cloth-colors .color1 {
                background: red;
                border:1px solid black;
                margin-left: 10px;            
            }

            .card-category-4 .sp-card-2 .card-content .cloth-colors .color2 {
                background: blue;
                border:1px solid black;
                margin-left: 35px;           
            }

            .card-category-4 .sp-card-2 .card-content .cloth-colors .color3 {
                background: Orange;
                border:1px solid black;
                margin-left: 60px;            
            }

            .card-category-4 .sp-card-2 .card-content .cloth-colors .color4 {
                background: black;
                border:1px solid black;
                margin-left: 85px;            
            }

    
    
@media only screen and (max-width: 480px) {
    .io-card-1 .card-content .card-text {
        display: none;
    }

    .io-card-1 .card-link {
        top:85px;
    }

    .card-category-4 .sp-card-1 {
        height: 100%;
        width: 100%;
        text-align: center;
        padding: 0 0px 30px 0;
        margin: 30px 0;
    }

        .card-category-4 .sp-card-1 .shop-button {
            padding: 0;
        }

        .card-category-4 .sp-card-1 ul li:nth-child(1) {
            padding: 20px;
            float: none;
        }

        .card-category-4 .sp-card-1 ul li:nth-child(2) {
            text-align: center;
            padding: 0 0 30px 0;
            float: none;
        }

    .card-category-4 .sp-card-2 {
        width: 300px;
    }

    .card-category-4 .sp-card-3 {
        width: 100%;
        height:auto;
    }

    .card-category-4 .sp-card-3 .card-title {
        text-align: center;
        width: 100%;
        float: none;
    }

    .card-category-4 .sp-card-3 .product-details .product-img {
        width: 100%;
        float: none;
        padding-top: 10px;
        display: block;
    }

        .card-category-4 .sp-card-3 .product-details .product-img img {
            height: auto;
            width: 90%;
        }

    .card-category-4 .sp-card-3 .product-details .product-description {
        width: 100%;
        padding: 20px 0px;
    }

        .card-category-4 .sp-card-3 .product-details .product-description ul {
            text-align: center;
        }
        
            .card-category-4 .sp-card-3 .product-details .product-description ul li {
                font-size: 25px;
            }
            
            .card-category-4 .sp-card-3 .product-details .product-description ul li:last-child {
                text-decoration: underline;
                padding-top: 20px;
            }
        
        .card-category-4 .sp-card-3 .footer-card p {
            font-size: 20px;
        }

        .card-category-4 .sp-card-3 .footer-card li:nth-child(1) {
            padding-top: 5px;
        }

        .card-category-4 .sp-card-3 .footer-card li:nth-child(2) {
            width: 100%;
            padding: 30px 0;
            text-align: center;
        }

        .card-category-4 ul li:nth-child(3) { 
            margin-top: 25px;
            padding: 0 15px;
        }

        .card-category-5 .per-card-2 {
            margin: 20px 40px;
        }

        .card-category-5 .per-card-3 {
            width: 350px;
        }

            .card-category-5 .per-card-3 .card-image .per-name {
                letter-spacing: 4px;
            }
}

@media only screen and (max-width: 360px) {
    .ioverlay-card .card-content {
        top: 10px;
    }

    .io-card-1 .card-link {
        top: 70px;
    }

    .card-category-5 .per-card-2 {
        width: 275px;
    }

        .card-category-5 .per-card-2 .card-image {
            width: 295px;
        }

    .card-category-5 .per-card-3 {
        width: 320px;
        height: 254px;
    }
}